# Introduction to Python

## Operators, functions, and data types

In [15]:
4 + 5 # operator (mathematical calculations)

9

In [16]:
4+5 # spaces are optional, but good stylistically

9

In [17]:
6 * 7

42

In [18]:
3 > 4 # comparisons, logic

False

In [19]:
True and True # statements of identity

True

In [20]:
text = "Fred Hutch" # assign data to object/variable

In [21]:
number = 42

In [22]:
pi_value = 3.14

In [23]:
type(text) # string: characters (letters, numbers, punctuation, emoji)

str

In [24]:
type(number) # integer

int

In [25]:
type(pi_value) # float

float

In [26]:
# convert between data types
a = 7.83

In [27]:
type(a)

float

In [28]:
int(a)

7

In [29]:
b = 7

In [30]:
type(b)

int

In [31]:
float(b)

7.0

In [32]:
print(text) # see value of something (required to display output in a script)

Fred Hutch

In [33]:
print(11)

11

In [34]:
help(print) # find help on a function

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Data structures

In [35]:
numbers = [1, 2, 3] # lists: data structure that holds sequence of elements

In [36]:
numbers[0] # recall value based on index (starts at zero!)

1

In [37]:
?numbers # find help about an object

In [38]:
# built-in operations for lists (use tab completion after typing "numbers." to see all)
numbers.append(4) # attach another number to end of list
# .something after an object is an attribute

In [39]:
print(numbers)

[1, 2, 3, 4]

In [40]:
?numbers.append

In [41]:
## Challenge: what google search could you use to determine a method for adding multiple values to a list?

In [42]:
## Challenge: how do you remove items from a list?

In [43]:
# for loop to access elements in list (or other data structure) one at a time
for num in numbers:
    print(num)

1
2
3
4

In [44]:
a_tuple = (1, 2, 3) # tuple: list with ordered sequence of elements

In [45]:
another_tuple = ('blue', 'green', 'red') # can also be character data

In [46]:
a_list = [1, 2, 3] # lists use brackets, tuples use parentheses

In [47]:
## Challenge: What happens when you execute:
a_list[1] = 5

In [48]:
#a_tuple[2] = 5

In [49]:
translation = {'one': 1, 'two': 2} # dictionary: container holding a pair of objects, key and value

In [50]:
translation['one']

1

In [51]:
# can include lists as values
list_value = {'yes': [1, 2, 3]}

In [52]:
# cannot include lists as keys
#list_key = {[1, 2, 3]: 'nope'}

In [53]:
rev = {1: 'one', 2: 'two'} # different data types can be key, value

In [54]:
rev[3] = 'three' # add items by assigning new value to key

In [55]:
rev

{1: 'one', 2: 'two', 3: 'three'}

In [56]:
# access each element one at a time with item
for key, value in rev.items():
    print(key, '->', value)

1 -> one
2 -> two
3 -> three

In [57]:
# access each element by key
for key in rev.keys():
    print(key, '->', rev[key])

1 -> one
2 -> two
3 -> three

In [58]:
## Challenge:
# print only the values of the rev dictionary to the screen
# Reassign the second value (in the key value pair) so that it no longer reads “two” but instead “apple-sauce”
# Print the values of rev to the screen again to see if the value has changed

## Functions

In [59]:
# define a chunk of code as function
def add_function(a, b):
    result = a + b
    return result

In [60]:
# test function
z = add_function(20, 22)
print(z)

42

In [61]:
## Challenge: define a new function called subtract_function that subtracts d from c and test on numbers of your choice