# Introduction to Python

In [88]:
4 + 5 # operator (mathematical calculations)

9

In [89]:
4+5 # spaces are optional, but good stylistically

9

In [90]:
6 * 7

42

In [91]:
3 > 4 # comparisons, logic

False

In [92]:
True and True # statements of identity

True

## Data types

In [93]:
text = "Fred Hutch" # assign data to object/variable

In [94]:
number = 42

In [95]:
pi_value = 3.14

In [96]:
type(text) # string: characters (letters, numbers, punctuation, emoji)

str

In [97]:
type(number) # integer

int

In [98]:
type(pi_value) # float

float

In [99]:
# convert between data types
a = 7.83

In [100]:
type(a)

float

In [101]:
int(a)

7

In [102]:
b = 7
float(b)

7.0

In [103]:
print(text) # see value of something (required to display output in a script)

Fred Hutch

In [104]:
print(11)

11

## Data structures

In [105]:
numbers = [1, 2, 3] # lists: data structure that holds sequence of elements

In [106]:
numbers[0] # recall value based on index (starts at zero!)

1

In [107]:
# built-in operations for lists (use tab completion after typing "numbers." to see all)
numbers.append(4) # attach another number to end of list
# .something after an object is an attribute

In [108]:
print(numbers)

[1, 2, 3, 4]

In [109]:
## Challenge: what google search could you use to determine a method for adding multiple values to a list?

In [110]:
## Challenge: how do you remove items from a list?

In [111]:
# for loop to access elements in list (or other data structure) one at a time
for num in numbers:
    print(num)

1
2
3
4

In [112]:
?numbers # find help about an object

In [113]:
a_tuple = (1, 2, 3) # tuple: list with ordered sequence of elements

In [114]:
another_tuple = ('blue', 'green', 'red') # can also be character data

In [115]:
a_list = [1, 2, 3] # lists use brackets, tuples use parentheses

In [116]:
## Challenge: What happens when you execute:
a_list[1] = 5

In [117]:
#a_tuple[2] = 5

In [118]:
translation = {'one': 1, 'two': 2} # dictionary: container holding a pair of objects, key and value

In [119]:
translation['one']

1

In [120]:
# can include lists as values
list_value = {'yes': [1, 2, 3]}

In [121]:
# cannot include lists as keys
#list_key = {[1, 2, 3]: 'nope'}

In [122]:
rev = {1: 'one', 2: 'two'} # different data types can be key, value

In [123]:
rev[3] = 'three' # add items by assigning new value to key

In [124]:
rev

{1: 'one', 2: 'two', 3: 'three'}

In [125]:
# access each element one at a time with item
for key, value in rev.items():
    print(key, '->', value)

1 -> one
2 -> two
3 -> three

In [126]:
# access each element by key
for key in rev.keys():
    print(key, '->', rev[key])

1 -> one
2 -> two
3 -> three

In [127]:
## Challenge:
# print only the values of the rev dictionary to the screen
# Reassign the second value (in the key value pair) so that it no longer reads “two” but instead “apple-sauce”
# Print the values of rev to the screen again to see if the value has changed

## Functions

In [128]:
# define a chunk of code as function
def add_function(a, b):
    result = a + b
    return result

In [129]:
# test function
z = add_function(20, 22)
print(z)

42

In [130]:
## Challenge: define a new function called subtract_function that subtracts d from c and test on numbers of your choice